# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool
*.coverprofile

# IDE/editor settings
.idea/
.vscode/
*.swp

# Dependency directories (if using vendoring)
vendor/

# Go workspace file
go.work
go.work.sum